<nav class="uk-navbar-container uk-margin nav-color" uk-navbar>
    <div class="uk-navbar-left">

        <a class="uk-navbar-item uk-logo" [routerLink]="['/home']" >Chapter TAW</a>

        <ul class="uk-navbar-nav">
            <li>
                <a [routerLink]="['/about']">
                    Quienes somos
                </a>
            </li>
            <li>
                <a [routerLink]="['/services']">
                    Servicios
                </a>
            </li>
            <li>
                <a [routerLink]="['/cursos']">
                    Cursos
                </a>
            </li>
            <li>
                <a [routerLink]="['/contact']">
                    Contactenos
                </a>
            </li>
        </ul>


    </div>
</nav>