<div class="uk-container uk-margin-top">
    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
            <div ><img data-src="/assets/img/chapter.png" width="" height="" alt="" uk-img></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ullamcorper, enim at pretium convallis, enim mauris scelerisque odio, eu tempor tellus turpis ut leo. Donec quis est at augue varius pretium. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce at porttitor nulla. Etiam ac ullamcorper nunc. Nam elit mauris, accumsan id interdum quis, bibendum id metus. Etiam tempor vitae ligula quis efficitur. Mauris id ultrices tellus.</p>
                <p>Nullam condimentum, dolor et sodales malesuada, felis turpis accumsan tortor, at sollicitudin dolor nunc id neque. Vivamus vestibulum metus et volutpat rhoncus. Donec dictum lorem ac velit hendrerit, nec posuere est tincidunt. Maecenas sit amet ultrices justo, sed tincidunt lectus. Sed in ante interdum, feugiat dui eu, euismod sapien. Aliquam eleifend nisl sit amet velit dictum, sit amet faucibus tellus sollicitudin. Aenean in laoreet risus, eget feugiat tortor. Aliquam nisi risus, pulvinar at ex et, tempus commodo nulla. Vivamus lacinia purus ac metus dignissim semper.</p>
            </div>
        </div>
        
    </div>
</div>